html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: white;
}

.App{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.section {
  flex: 2; /* Each section takes equal space */
  width: 100%;
  height: 100%;
  text-align: center;
}
#banned-list{
  flex: 1;
  width: 30vh;
  border-color: aliceblue;
  border-style: solid;
  border-width: 4px;
  padding: 10px;
  background-color: rgba(228, 72, 72, 0.476);
  overflow-y: auto;
}