.sneaker{
  border: 1px solid rgb(97, 94, 94);
  padding: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 15px 30px rgba(233, 153, 240, 0.2);
  perspective: 1000px;
}



.sneaker img{
  width: 100%;
  padding: 10px 0;
  
  
}

.tags{
  display: inline-block;
  padding: 4px 10px;
  margin: 4px 4px 0 0;
  font-size: 0.85em;
  background-color: #e0e7ff;
  color: #222;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.2s;
}

.tags:hover {
  background-color: #b6c3f7;
}


.shuffle-btn{
  background-color: #a0a3e7;
  color: rgb(48, 31, 31);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  margin: 20px;
  margin-bottom: 50px;
}

.banned-tags{
  margin: 20px;
  padding: 8px;
  border-radius: 100px;
  flex-direction: column;
  box-sizing: border-box;
}

.banned-tags-section{
  display: flex;
  flex-direction: column;
  align-items: center; /* centers horizontally */
}
